$primary-color1: #DE3940;

body {
    min-height: calc(100vh - 160px);
    margin: 0;
    padding-top: 120px;
    padding-bottom: 40px;
    position: relative;
    background-image: url("img/background.png");
    font-family: 'Ubuntu Mono', monospace;
    font-display: auto;

    @media(max-width: 992px){
        padding-top: 0;
    }

    .logo {
        display: flex;
        margin: 120px auto;
        margin-top: 0;
        height: 180px;
        width: auto;
        filter: drop-shadow(0px 0px 8px #DE3940);
        opacity: 0;
        animation: fadein 1s forwards;
        animation-delay: 1s;

        @media(max-width: 992px){
            margin: 28px auto;
            height: 120px;
        }
    }

    p {
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        color: #fff;
        opacity: 0;
        animation: fadein 1s forwards;
    }

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    .intro {
        width: 360px;
        display: flex;
        margin: auto;
        flex-flow: column;

        picture {
            position:absolute;
            width:360px;
            opacity: 0;
            animation: fadein 1s forwards;
            animation-delay: .5s;

            @media(max-width: 1200px) {
                position: static;
                width: 100%;
            }

            img {
                width: 350px;
                border: solid 4px #f0f0f0;
                border-bottom: solid 80px #f0f0f0;
                position: absolute;
                transform: rotate(4deg);
                right: calc(50% - 568px);
                box-shadow: rgba(0, 0, 0, .5) 0px 0px 50px 0px;
                filter: saturate(.55);
                transition: all .25s ease-out;
                border-radius: 4px;

                &:hover {
                    transform: rotate(2deg);
                    filter: saturate(.85);
                    box-shadow: rgba(0, 0, 0, .5) 0px 0px 10px 0px;
                }


                @media(max-width: 1200px) {
                    position: static;
                    display: flex;
                    margin: auto;
                    margin-top: 40px;
                    width: 90%;
                }
            }
        }

        p {
            text-align: justify;
        }

        .links {
            display: flex;
            align-items: center;
            flex-flow: column;
            opacity: 0;
            animation: fadein 1s forwards;
            animation-delay: .5s;

            .email {
                font-family: "Comic Sans MS", "Chalkboard SE", "Ubuntu Mono", monospace;
                filter: drop-shadow(0px 0px 8px #DE3940);
                color: $primary-color1;
                margin: 40px 0;
            }

            div {
                line-height: 0;

                a {
                    margin-right: 40px;

                    &:hover {
                        svg {
                            filter: drop-shadow(0px 0px 8px #DE3940);
                            transition: all .2s ease-out;
                        }
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }

                    svg {
                        filter: drop-shadow(0px 0px 0px #DE3940);
                        transition: all .2s ease-out;
                    }
                }
            }
        }

        @media(max-width: 414px){
            width: calc(100% - 24px);

            p {
                text-align: left;
            }
        }
    }

    footer {
        right: 40px;
        bottom: 40px;
        position: absolute;

        a {
            color: rgba(#fff, .33);
        }

        @media(max-width: 1200px){
            position: static;
            display: flex;
            margin-top: 80px;
            justify-content: center;
        }
    }
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/* latin */
@font-face {
font-family: 'Ubuntu Mono';
font-style: normal;
font-weight: 400;
src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v8/KFOjCneDtsqEr0keqCMhbCc6CsQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
