$primary-color1: #DE3940;

body {
    background-image: url("img/background.png");
    font-family: 'Ubuntu Mono', monospace;

    .logo {
        display: flex;
        margin: 120px auto;
        height: 180px;
        width: auto;

        @media(max-width: 992px){
            margin: 28px auto;
            height: 120px;
        }
    }

    p {
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    .intro {
        width: 360px;
        display: flex;
        margin: auto;
        flex-flow: column;

        img {
            width: 300px;
            border: solid 4px #f0f0f0;
            border-bottom: solid 80px #f0f0f0;
            position: absolute;
            transform: rotate(5deg);
            right: calc(50% - 568px);
            box-shadow: rgb(0, 0, 0) 0px 0px 50px 0px;

            @media(max-width: 1200px) {
                position: static;
                display: flex;
                margin: auto;
                margin-top: 40px;
            }
        }

        p {
            text-align: justify;
        }

        .links {
            display: flex;
            align-items: center;
            flex-flow: column;

            .email {
                font-family: "Comic Sans MS", cursive;
                color: $primary-color1;
                margin: 40px 0;
            }

            div {
                line-height: 0;

                a {
                    margin-right: 40px;

                    &:hover {
                        svg path {
                            fill: $primary-color1;
                        }
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }

        @media(max-width: 414px){
            width: calc(100% - 24px);

            p {
                text-align: left;
            }
        }
    }

    footer {
        right: 80px;
        bottom: 80px;
        position: absolute;

        a {
            color: rgba(#fff, .5);
        }

        @media(max-width: 1200px){
            position: static;
            display: flex;
            margin-top: 80px;
            margin-bottom: 40px;
            justify-content: center;
        }
    }
}

main {
    animation: fadein .5s;
}

.logo {
    opacity: 0;
    animation: fadein 1s forwards;
    animation-delay: .5s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
